<div class="form_item_block">
  <label>Jenkins URL<span class="asterisk">*</span></label>
  <input type="text" ng-model="jenkinsUrl" style="width:500px;"/>
  <span class="form_error" ng-show="GOINPUTNAME[jenkinsUrl].$error.server">{{ GOINPUTNAME[jenkinsUrl].$error.server }}</span>
</div>
<div class="form_item_block">
  <label>Job name<span class="asterisk">*</span></label>
  <input type="text" ng-model="jobName" style="width:500px;"/>
  <span class="form_error" ng-show="GOINPUTNAME[jobName].$error.server">{{ GOINPUTNAME[jobName].$error.server }}</span>
</div>
<div class="form_item_block">
  <label>Job Token</label>
  <input type="text" ng-model="jobToken" style="width:500px;"/>
  <span class="form_error" ng-show="GOINPUTNAME[jobToken].$error.server">{{ GOINPUTNAME[jobToken].$error.server }}</span>
</div>
<div class="form_item_block">
  <label>Username</label>
  <input type="text" ng-model="username" style="width:500px;"/>
  <span class="form_error" ng-show="GOINPUTNAME[username].$error.server">{{ GOINPUTNAME[username].$error.server }}</span>
</div>
<div class="form_item_block">
  <label>Password</label>
  <input type="text" ng-model="password" style="width:500px;"/>
  <span class="form_error" ng-show="GOINPUTNAME[password].$error.server">{{ GOINPUTNAME[password].$error.server }}</span>
</div>
<div class="form_item_block">
  <label>Params</label>
  <textarea ng-model="jobParams" style="width:500px;"></textarea>
  <span class="form_error" ng-show="GOINPUTNAME[jobParams].$error.server">{{ GOINPUTNAME[jobParams].$error.server }}</span>
</div>
<div class="form_item_block">
  <label>Additional options:</label>
  <div class="checkbox_row">
    <input id="printlog2" type="checkbox" ng-model="printlog2" ng-init="printlog2 = shouldPrintLog" ng-change="shouldPrintLog = printlog2" ng-true-value="true" ng-false-value="false">
    <input id="shouldPrintLog" type="hidden" ng-model="shouldPrintLog" value="{{shouldPrintLog}}">
    <label for="shouldPrintLog">Print jenkins log</label>
  </div>
</div>
