# Intellij files
.idea/

# gradle's output dir
build/

# the gradle temp dir
.gradle
./jenkins-plugin/out

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
